# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Isac Amado\Downloads\ESOFT\Projeto\Projeto-ES-Gestor-Eventos-\Gestor-Eventos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
